.tooltip {
    position: fixed;
    z-index: 4;
    height: 24px;
    display: grid;
    align-items: center;
    padding-inline: $spacing-2;
    background-color: var(--inverse-surface);
    color: var(--inverse-on-surface);
    white-space: nowrap;
    border-radius: $radius-extra-small;
    pointer-events: none;
    animation: fade $tr-duration-short $tr-easing-linear forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}